@import "variables";
@import "mixins";
@import "functions";
@import "buttons";

// Hack: Обязательно необходимо указывать значение border-box;
// иначе не будет работать сетка
*,
::after, 
::before {
  box-sizing: border-box !important;
}

// Hack: Высоту необходимо указывать поочередно как в html, так и в body, и в .wrapper, 
// иначе не будут работать флексы по высоте в .wrapper
:root, body {
  height: 100%;
}

:root {
  font-size: $font-size;
}

body {
  font-size: 1rem;
  line-height: $line-height;
  font-family: $font-family-list;
 
  // Custom
  color: get-theme-color("primary");
  background-color: get-theme-color("secondary");
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);

  // Hack: Отключаем тени у границ, поскольку на малых разрешениях она имеет жеткий переход
  @media (min-width: 48em) {
    box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: get-theme-color("primary");
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

small {
  font-size: 80%;
}

strong {
  font-weight: $font-weight-extra-bold;
}

%h {
  margin-bottom: .5rem;
  color: $black;
  line-height: 1.2;
  font-weight: $font-weight-bold;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend %h;
    font-size: nth((2.5rem, 2rem, 1.75rem, 1.5rem, 1.25rem, 1rem), $i);
  }
}


//
// Wrapper
//

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 42em;
  height: 100%;
}


//
// Masthead
//

.masthead {
  margin-bottom: auto;

  > .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 48em) {
    > .inner {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.masthead-brand {
  color: $white;
  margin-bottom: 0;
}

.masthead-nav {
  display: flex;
  flex-wrap: wrap;
}

.masthead-nav-item {
  display: block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: rgba(255,255,255,.5);
  font-weight: $font-weight-bold;
  border-bottom: .25rem solid transparent;

  &:hover {
    color: rgba(255,255,255,.5);
    text-decoration: none;
    border-bottom-color: rgba(255, 255, 255, .25);
  }

  &.active {
    color: $white;
    border-bottom-color: $white;

    &:hover {
      border-bottom-color: rgba(255, 255, 255, .25);
    }
  }

  + .masthead-nav-item {
    margin-left: 1rem;
  }
}


//
// Jumbotron
//

.jumbotron {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.jumbotron-title {
  color: $white;
}

.jumbotron-text {
  font-size: 1.25rem;
  font-weight: $font-weight-light;
}


//
// Mastfoot
//

.mastfoot {
  margin-top: auto;
  color: rgba(255,255,255,.5);
}