.btn {
  display: inline-block;
  line-height: 1.5;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  border-width: 0.05rem;
  border-style: solid;
  border-color: transparent;
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem;
  color: #333;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700; }
  .btn:hover {
    text-decoration: none; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    color: #333; }
  .btn:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b; }
  .btn:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.btn-md {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  -webkit-border-radius: 0.3rem;
          border-radius: 0.3rem; }

.btn-primary {
  color: #333;
  background-color: #fff;
  border-color: #fff;
  font-weight: 700; }
  .btn-primary:hover {
    color: #333; }
  .btn-primary:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b; }
  .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5); }

.btn-block {
  display: block;
  width: 100%; }
  .btn-block + .btn-block {
    margin-top: .5rem; }

*,
::after,
::before {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }

:root, body {
  height: 100%; }

:root {
  font-size: 16px; }

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  background-color: #333;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); }
  @media (min-width: 48em) {
    body {
      -webkit-box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); } }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

small {
  font-size: 80%; }

strong {
  font-weight: 1200; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  color: #000;
  line-height: 1.2;
  font-weight: 700; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 42em;
  height: 100%; }

.masthead {
  margin-bottom: auto; }
  .masthead > .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  @media (min-width: 48em) {
    .masthead > .inner {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.masthead-brand {
  color: #fff;
  margin-bottom: 0; }

.masthead-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.masthead-nav-item {
  display: block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  border-bottom: .25rem solid transparent; }
  .masthead-nav-item:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    border-bottom-color: rgba(255, 255, 255, 0.25); }
  .masthead-nav-item.active {
    color: #fff;
    border-bottom-color: #fff; }
    .masthead-nav-item.active:hover {
      border-bottom-color: rgba(255, 255, 255, 0.25); }
  .masthead-nav-item + .masthead-nav-item {
    margin-left: 1rem; }

.jumbotron {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.jumbotron-title {
  color: #fff; }

.jumbotron-text {
  font-size: 1.25rem;
  font-weight: 300; }

.mastfoot {
  margin-top: auto;
  color: rgba(255, 255, 255, 0.5); }
